<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>UniStay | Profil </title>
        <meta name="description" content="GARO is a real-estate template">
        <meta name="author" content="Kimarotec">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        
        <link rel="stylesheet" href={% static "assets/css/normalize.css" %}>
        <link rel="stylesheet" href={% static "assets/css/font-awesome.min.css" %}>
        <link rel="stylesheet" href={% static "assets/css/fontello.css" %}>
        <link href={% static "assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" %} rel="stylesheet">
        <link href={% static "assets/fonts/icon-7-stroke/css/helper.css" %} rel="stylesheet">
        <link href={% static "css/animate.css" %} rel="stylesheet" media="screen">
        <link rel="stylesheet" href={% static "assets/css/bootstrap-select.min.css" %}> 
        <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "assets/css/icheck.min_all.css" %}>
        <link rel="stylesheet" href={% static "assets/css/price-range.css" %}>
        <link rel="stylesheet" href={% static "assets/css/owl.carousel.css" %}>  
        <link rel="stylesheet" href={% static "assets/css/owl.theme.css" %}>
        <link rel="stylesheet" href={% static "assets/css/owl.transitions.css" %}> 
        <link rel="stylesheet" href={% static "assets/css/wizard.css" %}> 
        <link rel="stylesheet" href={% static "assets/css/style.css" %}>
        <link rel="stylesheet" href={% static "assets/css/responsive.css" %}>
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->

        {% block header %}
                {% include "g_header.html" %}
        {% endblock %}
        <!-- End of nav bar -->

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title"><span class="orange strong">{{profil.user.first_name}} {{profil.user.last_name}}</span></h1>              
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header --> 

        <!-- property area -->
        <div class="content-area user-profiel" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">   
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 profiel-container">

                       
                            <div class="profiel-header">
                                <h3>
                                    <b>Acente</b> Detayı<br>
                                    <small class="orange">{{mesaj}}<br>{{er_mesaj}}</small>
                                </h3>
                                <hr>
                            </div>

                            <div class="clear">
                                <div class="col-sm-3 col-sm-offset-1">
                                    <div class="picture-container">
                                        <div class="picture" style="width: 100%; height: 100%;">
                                            <img src={{profil.image_url.url}} class="picture-src" id="wizardPicturePreview" title=""/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 padding-top-25">

                                <ul class="additional-details-list clearfix">
                                        <li>
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Telefon</span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{profil.telefon}}</span>
                                        </li> 
                                        <li>
                                            
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Email</span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"><a href="mailto:#">{{profil.user.email}}</a></span>
                                    
                                        </li>

                                        <li>
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Meslek</span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{profil.meslek}}</span>
                                        </li>
                                        <li>
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Okul</span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{profil.okul}}</span>
                                        </li>
                                        <li>
                                            <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Ortalama</span>
                                            <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">(10/{{puan}}) | {% for r in ranked %}
                                            <span class="fa fa-star checked"></span>
                                            {% endfor %}</span>
                                        </li>


                                    </ul>
                                    <div class="items-per-page">
                                    <label for="items_per_page"><b>Lütfen bana oy ver:</b></label>
                                    <form method="POST">{% csrf_token %}
                                    <div class="sel">
                                        <select id="items_per_page" name="oy_ver">
                                            <option selected="selected" value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <input type="hidden" name="user_id" value="{{profil.id}}">
                                        <input type='submit' class='btn btn-finish btn-primary' name='oyla' value='Oy ver' >
                                    </div><!--/ .sel-->
                                </form>
                                </div><!--/ .items-per-page-->
                                </div>
                               
                                <div class="col-sm-9 col-sm-offset-1">  
                                    <div class="form-group">
                                        <label>Biyografi</label>
                                        <textarea class="form-control" rows="5" name="biyografi" readonly>
                                        {{profil.biyografi}}
                                        </textarea>
                                    </div>

                            </div>

                            <div class="clear">
                                <br>
                                <hr>
                                <br>
                                <div class="col-sm-5 col-sm-offset-1">
                                    <div class="social pull-right"> 
                                    <ul>
                                        
                                        <li><a class="wow fadeInUp animated" href="{{profil.facebook}}" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="{{profil.twitter}}" data-wow-delay="0.3s"><i class="fa fa-twitter"></i></a></li>
                                        
                                    </ul> 
                                </div>
                                   
                                    
                                </div>  

    
                            </div>
                            

                </div><!-- end row -->
              </div>  
            </div>
        </div>
        </div>


          <!-- Footer area-->
        {% block footer %}
                {% include "g_footer.html" %}
        {% endblock %}


        <script src={% static "assets/js/vendor/modernizr-2.6.2.min.js" %}></script>
        <script src={% static "assets/js//jquery-1.10.2.min.js" %}></script>
        <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
        <script src={% static "assets/js/bootstrap-select.min.js" %}></script>
        <script src={% static "assets/js/bootstrap-hover-dropdown.js" %}></script>
        <script src={% static "assets/js/easypiechart.min.js" %}></script>
        <script src={% static "assets/js/jquery.easypiechart.min.js" %}></script>
        <script src={% static "assets/js/owl.carousel.min.js" %}></script>
        <script src={% static "assets/js/wow.js" %}></script>
        <script src={% static "assets/js/icheck.min.js" %}></script>

        <script src={% static "assets/js/price-range.js" %}></script> 
        <script src={% static "assets/js/jquery.bootstrap.wizard.js" %} type="text/javascript"></script>
        <script src={% static "assets/js/jquery.validate.min.js" %}></script>
        <script src={% static "assets/js/wizard.js" %}></script>

        <script src={% static "assets/js/main.js" %}></script>


</body>
</html>