<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>UniStay | Anasayfa</title>
        <meta name="description" content="GARO is a real-estate template">
        <meta name="author" content="Kimarotec">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href={% static "assets/css/normalize.css" %}>
        <link rel="stylesheet" href={% static "assets/css/font-awesome.min.css" %}>
        <link rel="stylesheet" href={% static "assets/css/fontello.css" %}>
        <link href={% static "assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" %} rel="stylesheet">
        <link href={% static "assets/fonts/icon-7-stroke/css/helper.css" %} rel="stylesheet">
        <link href={% static "assets/css/animate.css" %} rel="stylesheet" media="screen">
        <link rel="stylesheet" href={% static "assets/css/bootstrap-select.min.css" %}> 
        <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "assets/css/icheck.min_all.css" %}>
        <link rel="stylesheet" href={% static "assets/css/price-range.css" %}>
        <link rel="stylesheet" href={% static "assets/css/owl.carousel.css" %}>  
        <link rel="stylesheet" href={% static "assets/css/owl.theme.css" %}>
        <link rel="stylesheet" href={% static "assets/css/owl.transitions.css" %}>
        <link rel="stylesheet" href={% static "assets/css/style.css" %}>
        <link rel="stylesheet" href={% static "assets/css/responsive.css" %}>
        <style>

              #map {
                height: 100%;
              }
              html, body {
                height: 100%;
                margin: 0;
                padding: 0;
              }
              #floating-panel {
                position: absolute;
                top: 10px;
                left: 25%;
                z-index: 5;
                background-color: #fff;
                padding: 5px;
                border: 1px solid #999;
                text-align: center;
                font-family: 'Roboto','sans-serif';
                line-height: 30px;
                padding-left: 10px;
              }
              #rock {
                width: 96px;
                height: 96px;
                background-repeat: no-repeat;
                }
              .bgimg {
                }

        </style>
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->


       {% block header %}
                {% include "g_header.html" %}
        {% endblock %}
        <!-- End of nav bar -->
<<<<<<< HEAD:app/templates/g_anasayfa.html
<form action="/ara/" enctype="multipart/form-data" id="form" name="form" method="GET" class="form">
=======
<form action="/ara/" enctype="multipart/form-data" id="form" name="form" method="GET">
>>>>>>> fd2ff44843b9aa90940400ef62a5eab411e9bb70:kalmak_icin/app/templates/g_anasayfa.html
        {% if text %}
        <div class="slider-area">
            <div id="map" style="height: 600px;"></div>
        </div>
        <div class="home-lager-shearch" style="background-color: rgb(252, 252, 252); padding-top: 25px; margin-top: -125px;">
            <div class="container">
                <div class="col-md-12 large-search"> 
                    <div class="search-form wow pulse">
                    
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <input type="text" name="ara" class="form-control" placeholder="Konum gir" value="{{text}}" required>
                                </div>
                                <div class="col-md-3">                                   
                                    <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Üniversite" name="universite">
                                        <option selected="selected" value="Necmettin ERBAKAN Üniversitesi">N.ERBAKAN Üniversitesi</option>
                                    </select>
                                </div>
                                <div class="col-md-3">                                     
                                    <select id="basic" class="selectpicker show-tick form-control" select name="fakulte">
                                        <option selected="selected" value="Köyceğiz Kampüsü">Köyceğiz</option>
                                        <option value="Eğitim Fakültesi">Eğitim</option>
                                        <option value="Diş Hekimliği">Diş</option>
                                        <option value="Meram Tıp Fakültesi">Tıp</option> 

                                    </select>
                                </div>
                                <div class="col-md-2">                                     
                                     <input type='button' class='btn btn-finish btn-primary ' data-toggle="modal" data-target="#myDIV_filtre" name='finish' value='+ Filtre' />
                                </div>
                            </div>
                            <div class="col-md-12 ">
                                <div class="search-row">   

                                    <div class="col-sm-3">
                                        <label for="price-range">Ücret Aralığı (tl):</label>
                                        <input type="text" class="span2" value="0,5000" data-slider-min="0" 
                                               data-slider-max="5000" data-slider-step="5" 
                                               data-slider-value="[0,5000]" id="price-range" name="ucret"><br />
                                        <b class="pull-left color">0tl</b> 
                                        <b class="pull-right color">5000tl</b>
                                    </div>
                                    <!-- End of  -->  

                                    <div class="col-sm-3">
                                        <label for="property-geo">Genişlik (m2) :</label>
                                        <input type="text" class="span2" value="0,1000" data-slider-min="0" 
                                               data-slider-max="1000" data-slider-step="5" 
                                               data-slider-value="[0,1000]" id="property-geo" name="genislik" ><br />
                                        <b class="pull-left color">0m2</b> 
                                        <b class="pull-right color">1000m2</b>
                                    </div>
                                    <!-- End of  --> 

                                    <div class="col-sm-3">
                                        <label for="price-range">Oda sayısı :</label>
                                        <input type="text" class="span2" value="0,10" data-slider-min="0" 
                                               data-slider-max="10" data-slider-step="1" 
                                               data-slider-value="[0,10]" id="min-baths" name="oda_sayisi"><br />
                                        <b class="pull-left color">0</b> 
                                        <b class="pull-right color">10</b>
                                    </div>
                                    <!-- End of  --> 

                                    <div class="col-sm-3">
                                        <label for="property-geo">Yatak sayisi :</label>
                                        <input type="text" class="span2" value="0,50" data-slider-min="0" 
                                               data-slider-max="50" data-slider-step="1" 
                                               data-slider-value="[0,50]" id="min-bed" name="yatak_sayisi" ><br />
                                        <b class="pull-left color">0</b> 
                                        <b class="pull-right color">50</b>
                                    </div>
                                    <!-- End of  --> 

                                </div>

                                <div class="search-row">  

                                    
                                    <!-- End of  --> 

   
                                    <!-- End of  --> 
                                </div>   
                            </div>  
                            <div class="center">
                                <input type="submit" value="" name="search" class="btn btn-default btn-lg-sheach">
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="slider-area">
            <div class="slider">
                <div id="bg-slider" class="owl-carousel owl-theme">

                    <div class="item"><img src={% static "assets/img/slide1/slider-image-1.jpg" %} alt="Mirror Edge"></div> 
                    <div class="item"><img src={% static "assets/img/slide1/slider-image-2.jpg" %} alt="The Last of us"></div> 
                    <div class="item"><img src={% static "assets/img/slide1/slider-image-4.jpg" %} alt="GTA V"></div>   

                </div>
            </div>
            <div class="container slider-content">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
<<<<<<< HEAD:app/templates/g_anasayfa.html
                        <h2>KOLAY ARAYÜZ, ZENGİN İLAN</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deserunt deleniti, ullam commodi sit ipsam laboriosam velit adipisci quibusdam aliquam teneturo!</p>
                        <div class="search-form wow pulse" data-wow-delay="0.8s">

                            <div class="col-md-11">   
=======
                        <h2>property Searching Just Got So Easy</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deserunt deleniti, ullam commodi sit ipsam laboriosam velit adipisci quibusdam aliquam teneturo!</p>
                        <div class="col-md-12"> 
                        <div class="search-form wow pulse" data-wow-delay="0.8s">

                            <div class="col-md-10">   
>>>>>>> fd2ff44843b9aa90940400ef62a5eab411e9bb70:kalmak_icin/app/templates/g_anasayfa.html
                                <div class="form-group">
                                    <input type="text" name="ara" class="form-control" placeholder="Konum gir" value="{{text}}" required>
                                </div>
                            </div> 
<<<<<<< HEAD:app/templates/g_anasayfa.html
                            <div  align="left">
=======
                            <div class="col-md-2">
>>>>>>> fd2ff44843b9aa90940400ef62a5eab411e9bb70:kalmak_icin/app/templates/g_anasayfa.html
                                <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                                               
                        </div>
<<<<<<< HEAD:app/templates/g_anasayfa.html
=======
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="count-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <h2>Senin için hazırladığımız istatikler </h2> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12 percent-blocks m-main" data-waypoint-scroll="true">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <div class="count-item">
                                    <div class="count-item-circle">
                                        <span class="pe-7s-users"></span>
                                    </div>
                                    <div class="chart" data-percent="5000">
                                        <h2 class="percent">{{kisi_s}}</h2>
                                        <h5>MUTLU KULLANICI</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="count-item">
                                    <div class="count-item-circle">
                                        <span class="pe-7s-home"></span>
                                    </div>
                                    <div class="chart" data-percent="12000">
                                        <h2 class="percent">{{ilan_s}}</h2>
                                        <h5>FARKLI İLAN</h5>
                                    </div>
                                </div> 
                            </div> 
                            <div class="col-sm-3 col-xs-6">
                                <div class="count-item">
                                    <div class="count-item-circle">
                                        <span class="pe-7s-flag"></span>
                                    </div>
                                    <div class="chart" data-percent="120">
                                        <h2 class="percent" >5</h2>
                                        <h5>FARKLI EV TİPİ </h5>
                                    </div>
                                </div> 
                            </div> 
                            <div class="col-sm-3 col-xs-6">
                                <div class="count-item">
                                    <div class="count-item-circle">
                                        <span class="pe-7s-graph2"></span>
                                    </div>
                                    <div class="chart" data-percent="5000">
                                        <h2 class="percent" >1000'LERCE</h2>
                                        <h5>EV ARKADAŞI</h5>
                                    </div>
                                </div> 

                            </div>
                        </div>
>>>>>>> fd2ff44843b9aa90940400ef62a5eab411e9bb70:kalmak_icin/app/templates/g_anasayfa.html
                    </div>
                </div>
            </div>
        </div>
<<<<<<< HEAD:app/templates/g_anasayfa.html
        
=======
>>>>>>> fd2ff44843b9aa90940400ef62a5eab411e9bb70:kalmak_icin/app/templates/g_anasayfa.html
        {% endif %} 



        <!-- property area -->
        <div class="content-area recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">
            {% if not text %}
            <div class="count-area bgimg">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <h2>Senin için hazırladığımız istatikler </h2> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12 percent-blocks m-main" data-waypoint-scroll="true">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <div class="count-item">
                                    <div class="count-item-circle">
                                        <span class="pe-7s-users"></span>
                                    </div>
                                    <div class="chart" data-percent="5000">
                                        <h2 class="percent">{{kisi_s}}</h2>
                                        <h5>MUTLU KULLANICI</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="count-item">
                                    <div class="count-item-circle">
                                        <span class="pe-7s-home"></span>
                                    </div>
                                    <div class="chart" data-percent="12000">
                                        <h2 class="percent">{{ilan_s}}</h2>
                                        <h5>FARKLI İLAN</h5>
                                    </div>
                                </div> 
                            </div> 
                            <div class="col-sm-3 col-xs-6">
                                <div class="count-item">
                                    <div class="count-item-circle">
                                        <span class="pe-7s-flag"></span>
                                    </div>
                                    <div class="chart" data-percent="120">
                                        <h2 class="percent" >5</h2>
                                        <h5>FARKLI EV TİPİ </h5>
                                    </div>
                                </div> 
                            </div> 
                            <div class="col-sm-3 col-xs-6">
                                <div class="count-item">
                                    <div class="count-item-circle">
                                        <span class="pe-7s-graph2"></span>
                                    </div>
                                    <div class="chart" data-percent="5000">
                                        <h2 class="percent" >1000'LERCE</h2>
                                        <h5>EV ARKADAŞI</h5>
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
               <div class="modal fade" id="myDIV_filtre" role="dialog">
                    <div class="modal-dialog">

                    <!-- Modal content-->
                        <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Aramanı özelleştir</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group">
                                            <section>
                                                <ul class="submit-features">
                                                    <div class="col-sm-3">
                                        <button id="rock" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myDIV_cinsiyet" style="background: url({% static "assets1/img/cinsiyet.png" %})"></button>                                    
                                    </div>
                                    <div class="col-sm-3">
                                       <button id="rock" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myDIV_oda_tipi" style="background: url({% static "assets1/img/oda_tipi.png" %})"></button>

                                    </div>
                                    <!-- End of  -->  
                                    <div class="col-sm-3">
                                        <button id="rock" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myDIV_konut_tipi" style="background: url({% static "assets1/img/ev_tipi.png" %})"></button>
                                    </div>
                                    <div class="col-sm-3">
                                     <button id="rock" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myDIV_banyo_tipi" style="background: url({% static "assets1/img/banyo_tipi.png" %})"></button>
                                    </div>
                                                </ul>
                                            </section>
                                        </div>
                                    </div>
                                </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Ekle</button></div>
                        </div>

                    </div>
                </div>

                <div class="modal fade" id="myDIV_cinsiyet" role="dialog">
                    <div class="modal-dialog">

                    <!-- Modal content-->
                        <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">CİNSİYET SEÇİNİZ!</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group">
                                            <section>
                                                <ul class="submit-features">
                                                    {{form.cinsiyet}}
                                                </ul>
                                            </section>
                                        </div>
                                    </div>
                                </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Ekle</button></div>
                        </div>

                    </div>
                </div>
                
                <div class="modal fade" id="myDIV_konut_tipi" role="dialog">
                    <div class="modal-dialog">

                    <!-- Modal content-->
                        <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Konut tipi seçiniz!</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                    <section>
                                        <div class="form-group">
                                            
                                                    {{form.konut_tipi }}
                                           
                                        </div>
                                     </section>
                                    </div>
                                </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Ekle</button>                   
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="myDIV_oda_tipi" role="dialog">
                    <div class="modal-dialog">

                    <!-- Modal content-->
                        <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Oda Tipi seçiniz!</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group">
                                            <section>
                                                    {{form.oda_tipi}}
                                            </section>
                                        </div>
                                    </div>
                                </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Ekle</button></div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="myDIV_banyo_tipi" role="dialog">
                    <div class="modal-dialog">

                    <!-- Modal content-->
                        <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Banyo tipi seçiniz!</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group">
                                            <section>
                                                    {{form.banyo_tipi}}
                                            </section>
                                        </div>
                                    </div>
                                </div>

                            <div class="modal-footer">
                               <button type="button" class="btn btn-default" data-dismiss="modal">Ekle</button>
                            </div>
                        </div>

                    </div>
                </div>
               
                </form>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <h2>{{baslik}}</h2>
                        <p>{{mesaj}} </p>
                    </div>
                </div>

                <div class="row">
                    <div class="proerty-th">
                    {% for ilan in galeri_list %}
                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="/detay/{{ilan.e_bilgileri.id}}/" ><img src={{ilan.kapak_image.url}}></a>
                                </div>
                                <div class="item-entry overflow">
                                    <h5><a href="/detay/{{ilan.e_bilgileri.id}}/">{{ilan.e_bilgileri.ilan_baslik}}</a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b>Genişlik :</b> {{ilan.e_bilgileri.genislik}}</span>
                                    <span class="proerty-price pull-right">tl {{ilan.e_bilgileri.aylik_ucret}}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="col-md-12"> 
                            <div class="pull-right">
                                <div class="pagination">
                                       {% if galeri_list.has_other_pages %}
                                        <ul>
                                          {% if galeri_list.has_previous %}
                                            <li><a href="?page={{ galeri_list.previous_page_number }}{{q}}">&laquo;</a></li>
                                          {% else %}
                                            <li class="disabled"><span>&laquo;</span></li>
                                          {% endif %}
                                          {% for i in galeri_list.paginator.page_range %}
                                            {% if galeri_list.number == i %}
                                              <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                                            {% else %}
                                              <li><a href="?page={{ i }}{{q}}">{{ i }}</a></li>
                                            {% endif %}
                                          {% endfor %}
                                          {% if galeri_list.has_next %}
                                            <li><a href="?page={{ galeri_list.next_page_number }}{{q}}">&raquo;</a></li>
                                          {% else %}
                                            <li class="disabled"><span>&raquo;</span></li>
                                          {% endif %}
                                        </ul>
                                      {% endif %}

                                </div>
                            </div>                
                        </div>
                </div>
            </div>
        </div>





          <!-- Footer area-->
        {% block footer %}
                {% include "g_footer.html" %}
        {% endblock %}

       
        <script src={% static "assets/js/modernizr-2.6.2.min.js" %}></script>

        <script src={% static "assets/js/jquery-1.10.2.min.js" %}></script>
        <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
        <script src={% static "assets/js/bootstrap-select.min.js" %}></script>
        <script src={% static "assets/js/bootstrap-hover-dropdown.js" %}></script>

        <script src={% static "assets/js/easypiechart.min.js" %}></script>
        <script src={% static "assets/js/jquery.easypiechart.min.js" %}></script>

        <script src={% static "assets/js/owl.carousel.min.js" %}></script>   
        <script src={% static "assets/js/wow.js" %}></script>

        <script src={% static "assets/js/icheck.min.js" %}></script>
        <script src={% static "assets/js/price-range.js" %}></script>

        <script src={% static "assets/js/main.js" %}></script>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: {{zoom|safe}},
          center: {lat: 39.91987, lng: 32.85427 }
        });
        var kontrol_= {{kontrol|safe}};
        if (kontrol_=== 1){
            var geocoder = new google.maps.Geocoder;
            var bounds = new google.maps.LatLngBounds;
            var service = new google.maps.DistanceMatrixService;

            var address = {{adres_listesi|safe}};
            var baslik = {{baslik_listesi|safe}};
            var idler = {{id_listesi|safe}};
            var kapaklar = {{g_kapak|safe}};
            var alanlar = {{alan|safe}};
            var ucretler = {{ucret|safe}};
            var odalar = {{oda|safe}};
            var tarihler = {{tarih|safe}}
            var hedef="{{okul|safe}}";
            
            geocoder.geocode( { 'address': hedef}, function(results, status) {
            var image = {
              url: 'https://chart.googleapis.com/chart?' +
            'chst=d_map_pin_letter&chld=O|FFFF00|000000',
              size: new google.maps.Size(20, 32),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(0, 32)
            };
            if (status == google.maps.GeocoderStatus.OK) {

                var location2=(results[0].geometry.location);
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    icon:image
                });
                var infowindow = new google.maps.InfoWindow();
                infowindow.setContent(hedef);
                infowindow.open(map, marker);
                for (var i = 0; i < address.length; i++) {
                    geocoder_(address[i], map, baslik[i], idler[i], geocoder,kapaklar[i],alanlar[i],ucretler[i],odalar[i],tarihler[i],location2,hedef)
            }
                
            }
            else
            {
              console.log("some problem in geocode" + status);
            }
            }); 
            
            
        }
        else{
            var marker = new google.maps.Marker({
            map: map
        });
        }
        
      }
      

    function geocoder_(location, resultsMap,baslik, idler, geocoder,kapak,alan,ucret,oda,tarih,location2,hedef) {
          geocoder.geocode( { 'address': location}, function(results, status) {
          //alert(status);
            if (status == google.maps.GeocoderStatus.OK) {

              resultsMap.setCenter(results[0].geometry.location);
              var x=getDistance(results[0].geometry.location,location2);
              var content='<div class="row">'+
                    '<div class="proerty-th">'+
                        '<div class="col-sm-6 col-md-11 ">'+
                            '<div class="box-two proerty-item">'+
                                '<div class="item-thumb">'+
                                    '<a href="/detay/'+idler+'"/>'+'<img src="'+kapak+'">'+'</a>'+'</div>'+
                                '<div class="item-entry overflow">'+
                                    '<h5><a href="/detay/'+idler+'/">'+baslik+'</a>'+'</h5>'+
                                    '<figure><b>'+hedef+' '+x+' km mesafede<b></figure>'+
                                    '<div class="dot-hr"></div>'+ 
                                    '<span class="pull-left"><b>Genişlik :</b>'+ alan+'</span>'+
                                    '<span class="proerty-price pull-right">tl<b>'+ ucret+'</b></span>'+
                                '</div>'+
                            '</div>'+
                        '</div>'
                    +'</div>'+
                    '</div>';
              createMarker(results[0].geometry.location,content, resultsMap);
            }
            else
            {
              console.log(status);
            }
          }); 
    }
    var rad = function(x) {
      return x * Math.PI / 180;
    };

    var getDistance = function(p1, p2) {
      var R = 6378137; // Earth’s mean radius in meter
      var dLat = rad(p2.lat() - p1.lat());
      var dLong = rad(p2.lng() - p1.lng());
      var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
        Math.cos(rad(p1.lat())) * Math.cos(rad(p2.lat())) *
        Math.sin(dLong / 2) * Math.sin(dLong / 2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
      var d = R * c;
      return (d/1000).toFixed(2); // returns the distance in meter
    };

    function createMarker(latlng,html,map){
        var infowindow = new google.maps.InfoWindow();

          var marker = new google.maps.Marker({
            position: latlng,
            map: map
          }); 

          google.maps.event.addListener(marker, 'mouseover', function() { 
            infowindow.setContent(html);
            infowindow.open(map, marker);
          });

        }
  
    
    
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=your_key8&callback=initMap">
    </script>
    </body>
</html>