   {% load static %}

        <div class="header-connect">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-8  col-xs-12">
                        {% if user.is_authenticated %}
                        <div class="header-half header-call">
                            <p>
                                <span><i class="pe-7s-users pe-4x"></i>Hoş geldin @{{user.username}}</span>
                            </p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                        <div class="header-half header-social">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-vine"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
        <!--End top header -->

        <nav class="navbar navbar-default ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src={% static "assets1/img/unistay.png" %} alt=""></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse yamm" id="navigation">
                    <div class="button navbar-right">
                        {% if not user.is_authenticated %}
                        <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.open('/giris')" data-wow-delay="0.4s">Giriş</button>
                        <button class="navbar-btn nav-button wow fadeInRight" onclick=" window.open('/register')" data-wow-delay="0.5s">Kaydol</button>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <button class="navbar-btn nav-button wow fadeInRight" onclick=" window.open('/logout')" data-wow-delay="0.5s">Çıkış</button>
                        {% endif %}
                    </div>
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                            <a href="/" class="dropdown-toggle active" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Anasayfa <b class="caret"></b></a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="/ilan_olustur">İlan Oluştur</a></li>
                        {% endif %}
                        <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="/tum_ilanlar">Tüm İlanlar</a></li>
                        {% if user.is_authenticated %}
                        <li class="dropdown ymm-sw" data-wow-delay="0.1s">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Hesap <b class="caret"></b></a>
                                <ul class="dropdown-menu navbar-nav">
                                    <li>
                                        <a href="/profil">Profilim</a>
                                    </li>
                                    <li>
                                        <a href="/ilanlar">İlanlarım</a>
                                    </li>
                                            
                                    <!-- /.yamm-content -->
                            </ul>
                        </li>
                        {% endif %}
                        <li class="wow fadeInDown" data-wow-delay="0.4s"><a href="#">İletişim</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End of nav bar -->
