<!DOCTYPE html>
{% load static %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>UniStay | İlan oluştur</title>
        <meta name="description" content="GARO is a real-estate template">
        <meta name="author" content="Kimarotec">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href={% static "assets/css/normalize.css" %}>
        <link rel="stylesheet" href={% static "assets/css/font-awesome.min.css" %}>
        <link rel="stylesheet" href={% static "assets/css/fontello.css" %}>
        <link href={% static "assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" %} rel="stylesheet">
        <link href={% static "assets/fonts/icon-7-stroke/css/helper.css" %} rel="stylesheet">
        <link href={% static "css/animate.css" %} rel="stylesheet" media="screen">
        <link rel="stylesheet" href={% static "assets/css/bootstrap-select.min.css" %}> 
        <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "assets/css/icheck.min_all.css" %}>
        <link rel="stylesheet" href={% static "assets/css/price-range.css" %}>
        <link rel="stylesheet" href={% static "assets/css/owl.carousel.css" %}>  
        <link rel="stylesheet" href={% static "assets/css/owl.theme.css" %}>
        <link rel="stylesheet" href={% static "assets/css/owl.transitions.css" %}> 
        <link rel="stylesheet" href={% static "assets/css/wizard.css" %}> 
        <link rel="stylesheet" href={% static "assets/css/style.css" %}>
        <link rel="stylesheet" href={% static "assets/css/responsive.css" %}>

    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->
        {% block header %}
                {% include "g_header.html" %}
    {% endblock %}
        

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">İlanı Düzenle</h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="content-area submit-property" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">
                <div class="clearfix" > 
                    <div class="wizard-container"> 

                        <div class="wizard-card ct-wizard-orange" id="wizardProperty">
                            <form name="form" id="form" enctype="multipart/form-data"  method="POST">{% csrf_token %}
                                <div class="wizard-header">
                                    <h3>
                                        <b>Hadi!!</b> Hemen düzenle! <br>
                                        <small>En iyi şekilde ilanını düzenlemen için UniStay'i tasarladık!</small>
                                    </h3>
                                </div>

                                <ul>
                                    <li><a href="#step1" data-toggle="tab">1.Adım </a></li>
                                    <li><a href="#step2" data-toggle="tab">2.Adım </a></li>
                                    <li><a href="#step3" data-toggle="tab">3.Adım </a></li>
                                    <li><a href="#step4" data-toggle="tab">Son</a></li>
                                </ul>

                                <div class="tab-content">

                                    <div class="tab-pane" id="step2">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4 class="info-text">Harika! 2.Adıma geçtin bile :)<small>İşaret alanlarını yeniden doldurmalısın</small>></h4>
                                                <div class="col-sm-12">
                                                    <label>Konut Tipi <small>(Zorunlu):</small></label>
                                                    <br>
                                                    {% for i in form.konut_tipi%}
                                                    <div class="col-sm-4">
                                                        <div class="form-group">    
                                                            {{i}}
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-8">
                                                    <label>Cinsiyet <small>(Zorunlu):</small></label>
                                                    <br>
                                                    {% for i in form.cinsiyet%}
                                                    <div class="col-sm-4">
                                                        <div class="form-group">    
                                                            {{i}}
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-12">
                                                    <label>Oda Tipi <small>(Zorunlu):</small></label>
                                                    <br>
                                                    {% for i in form.oda_tipi%}
                                                    <div class="col-sm-3">
                                                        <div class="form-group">    
                                                            {{i}}
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-12">
                                                    <label>Ev Kolaylıkları <small>(Zorunlu):</small></label>
                                                    <br>
                                                    {% for i in form.ev_kolayliklari%}
                                                    <div class="col-sm-4">
                                                        <div class="form-group">    
                                                            {{i}}
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-12">
                                                    <label>Mülk Kuralları <small>(Zorunlu):</small></label>
                                                    <br>
                                                    {% for i in form.mulk_kurallari%}
                                                    <div class="col-sm-4">
                                                        <div class="form-group">    
                                                            {{i}}
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-8">
                                                    <label>Banyo Tipi <small>(Zorunlu):</small></label>
                                                    <br>
                                                    {% for i in form.banyo_tipi%}
                                                    <div class="col-sm-4">
                                                        <div class="form-group">    
                                                            {{i}}
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  End step 1 -->

                                    <div class="tab-pane" id="step1">
                                        <h4 class="info-text"> Bize evini tanıtmalısın! </h4>
                                        <div class="row">
                                            <div class="col-sm-12"> 
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label>İlan Başlığı(Zorunlu):</label><br>
                                                        {{form.ilan_baslik}}
                                                    </div>  
                                                    <div class="form-group">
                                                        <label>İlan Detayı(opsiyonel):</label><br>
                                                        {{form.ilan_detayii}}
                                                    </div> 
                                                </div> 
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Adres 1 (Zorunlu):</label>
                                                        {{form.adres1}}
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Adres 2 (Opsiyonel):</label>
                                                        {{form.adres2}}
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="col-sm-12 padding-top-15">                                                   
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Posta Kodu (Opsiyonel):</label>
                                                        {{form.posta_kodu}}
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="form-group">
                                                        <label>Şehir (Zorunlu):</label>
                                                        {{form.sehir}}
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="form-group">
                                                        <label>İlçe (Zorunlu):</label>
                                                        {{form.ilce}}
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="form-group">
                                                        <label>Website (Opsiyonel):</label>
                                                        {{form.website}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End step 2 -->

                                    <div class="tab-pane" id="step3">                                        
                                        <h4 class="info-text">Biraz bilgi ,Biraz medya! </h4>
                                        <div class="row">  
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label >Toplam Oda Sayısı(Zorunlu):</label>
                                                    {{form.oda_sayisi}}
                                                </div>
                                            </div>
                                            <div class="col-sm-4"> 
                                                <div class="form-group">
                                                    <label >Mutfak sayısı(Zorunlu):</label>
                                                    {{form.mutfak_sayisi}}                                          

                                                </div> 
                                            </div>
                                            <div class="col-sm-4"> 
                                                <div class="form-group">
                                                    <label >Banyo Sayısı(Zorunlu):</label>
                                                    
                                                    {{form.banyo_sayisi}}
                                                </div>

                                            </div>
                                            <div class="col-sm-4"> 
                                                <div class="form-group">
                                                    <label >Yatak  Sayısı(Zorunlu):</label>
                                                    
                                                    {{form.yatak_sayisi}}
                                                </div>
                                            </div>
                                            <div class="col-sm-4"> 
                                                <div class="form-group">
                                                    <label >Salon Sayısı(Zorunlu):</label>
                                                    {{form.salon_sayisi}}
                                                </div>

                                            </div>
                                            <div class="col-sm-4"> 
                                                <div class="form-group">
                                                    <label >Yatak Oda Sayısı(Zorunlu):</label>
                                                    
                                                    {{form.yatak_oda_sayi}}
                                                </div>
                                            </div>
                                            

                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="property-images">Resim Ekle(Opsiyonel):<small>Resim alanı boş bırakılırsa varsayılana döner!</small></label>
                                                    <input id="property-images" type="file" class="form-control" name="image_url" multiple="true" data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-default" data-browse-label="Resim Seç" size="10"> 
                                                    <p class="help-block">Tüm resimleri aynı anda seçmelisin!.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  End step 3 -->


                                    <div class="tab-pane" id="step4">                                        
                                        <h4 class="info-text">Ohhh Neyseki son adım! </h4>
                                        <div class="row">  
                                            <div class="col-sm-10">
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <label >Aylık Ücret(Zorunlu):</label>
                                                        {{form.aylik_ucret}}
                                                    </div>
                                                </div>
                                                <div class="col-sm-5"> 
                                                    <div class="form-group">
                                                        <label > Depozito(Zorunlu):</label>
                                                        {{form.depozito}}                                          

                                                    </div> 
                                                </div>
                                                <div class="col-sm-5"> 
                                                    <div class="form-group">
                                                        <label >Min. Kalış Süresi(Zorunlu):</label>
                                                        
                                                        {{form.minumum_kalis}}
                                                    </div>

                                                </div>
                                                <div class="col-sm-5"> 
                                                    <div class="form-group">
                                                        <label >Genişlik(Zorunlu):</label>
                                                        
                                                        {{form.genislik}}
                                                    </div>
                                                </div>
                                                <div class="col-sm-5"> 
                                                    <div class="form-group">
                                                        <label >Başlangıç Tarihi(Zorunlu):</label>
                                                        
                                                        {{form.baslangic_tarihi}}
                                                    </div>

                                                </div>
                                        </div>
                                    </div>
                                    <!--  End step 4 -->

                                </div>

                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-primary' name='next' value='Sonraki' />
                                        <input type='submit' class='btn btn-finish btn-primary ' name='finish' value='Oluştur' />
                                    </div>

                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-default' name='previous' value='Önceki' />
                                    </div>
                                    <div class="clearfix"></div>                                            
                                </div>  
                            </form>
                        </div>
                        <!-- End submit form -->
                    </div> 
                </div>
            </div>
        </div>

          <!-- Footer area-->
        {% block footer %}
                {% include "g_footer.html" %}
        {% endblock %}

        <script src={% static "assets/js/vendor/modernizr-2.6.2.min.js" %}></script>
        <script src={% static "assets/js//jquery-1.10.2.min.js" %}></script>
        <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
        <script src={% static "assets/js/bootstrap-select.min.js" %}></script>
        <script src={% static "assets/js/bootstrap-hover-dropdown.js" %}></script>
        <script src={% static "assets/js/easypiechart.min.js" %}></script>
        <script src={% static "assets/js/jquery.easypiechart.min.js" %}></script>
        <script src={% static "assets/js/owl.carousel.min.js" %}></script>
        <script src={% static "assets/js/wow.js" %}></script>
        <script src={% static "assets/js/icheck.min.js" %}></script>

        <script src={% static "assets/js/price-range.js" %}></script> 
        <script src={% static "assets/js/jquery.bootstrap.wizard.js" %} type="text/javascript"></script>
        <script src={% static "assets/js/jquery.validate.min.js" %}></script>
        <script src={% static "assets/js/wizard.js" %}></script>

        <script src={% static "assets/js/main.js" %}></script>


    </body>
</html>