<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>UniStay | Profil </title>
        <meta name="description" content="GARO is a real-estate template">
        <meta name="author" content="Kimarotec">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        
        <link rel="stylesheet" href={% static "assets/css/normalize.css" %}>
        <link rel="stylesheet" href={% static "assets/css/font-awesome.min.css" %}>
        <link rel="stylesheet" href={% static "assets/css/fontello.css" %}>
        <link href={% static "assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" %} rel="stylesheet">
        <link href={% static "assets/fonts/icon-7-stroke/css/helper.css" %} rel="stylesheet">
        <link href={% static "css/animate.css" %} rel="stylesheet" media="screen">
        <link rel="stylesheet" href={% static "assets/css/bootstrap-select.min.css" %}> 
        <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "assets/css/icheck.min_all.css" %}>
        <link rel="stylesheet" href={% static "assets/css/price-range.css" %}>
        <link rel="stylesheet" href={% static "assets/css/owl.carousel.css" %}>  
        <link rel="stylesheet" href={% static "assets/css/owl.theme.css" %}>
        <link rel="stylesheet" href={% static "assets/css/owl.transitions.css" %}> 
        <link rel="stylesheet" href={% static "assets/css/wizard.css" %}> 
        <link rel="stylesheet" href={% static "assets/css/style.css" %}>
        <link rel="stylesheet" href={% static "assets/css/responsive.css" %}>
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->

        {% block header %}
                {% include "g_header.html" %}
        {% endblock %}
        <!-- End of nav bar -->

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h3 >Hoş Geldin : <span class="orange">{{user.username}}</span></h3>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header --> 

        <!-- property area -->
        <div class="content-area user-profiel" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">   
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 profiel-container">

                        <form role="/profil" id="form-account-profile" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="profiel-header">
                                <h3>
                                    <b>PROFİLİNİ</b> YAPILANDIR <br>
                                    <small class="orange">{{mesaj}}<br>{{er_mesaj}}</small>
                                </h3>
                                <hr>
                            </div>

                            <div class="clear">
                                <div class="col-sm-3 col-sm-offset-1">
                                    <div class="picture-container">
                                        <div class="picture" style="width: 100%; height: 100%;">
                                            <img src={{profil.image_url.url}} class="picture-src" id="wizardPicturePreview" title=""/>
                                            <input type="file" id="wizard-picture" name="resim_alani">
                                        </div>
                                        <input type="checkbox" name="resim" value="kaldir"><label for="form-account-phone"> Resmi Kaldır</label><br>
                                    </div>
                                </div>

                                <div class="col-sm-3 padding-top-25">

                                    <div class="form-group">
                                        <label>Ad </label>
                                        <input name="first_name" type="text" class="form-control" required value="{{profil.user.first_name}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Soyad </label>
                                        <input name="last_name" type="text" class="form-control" required value="{{profil.user.last_name}}" >
                                    </div>
                                    <div class="form-group">
                                        <label>Meslek </label>
                                        <input name="meslek" type="text" class="form-control" required value="{{profil.meslek}}" >
                                    </div>  
                                </div>
                                <div class="col-sm-3 padding-top-25">
                                    <div class="form-group">
                                        <label>Okul</label>
                                        <input name="okul" type="text" class="form-control" value="{{profil.okul}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Telefon</label>
                                        <input type="text" class="form-control" name="telefon" value="{{profil.telefon}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Doğum Tarihi</label>
                                        <input type="date" class="form-control" name="dogum_tarihi" value="{{d_tarih}}">
                                    </div>
                                </div>
                                <div class="col-sm-9 col-sm-offset-1">  
                                    <div class="form-group">
                                        <label>Biyografi</label>
                                        <textarea class="form-control" rows="5" name="biyografi"">
                                        {{profil.biyografi}}
                                        </textarea>
                                    </div>

                            </div>

                            <div class="clear">
                                <br>
                                <hr>
                                <br>
                                <div class="col-sm-5 col-sm-offset-1">
                                    <div class="form-group">
                                        <label>Facebook :</label>
                                        <input name="facebook" type="text" class="form-control" value="{{profil.facebook}}">
                                    </div>
                                   
                                    
                                </div>  

                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label>Twitter :</label>
                                        <input name="twitter" type="text" class="form-control" value="{{profil.twitter}}">
                                        <input type="hidden" name="user_id" value="{{profil.id}}">
                                    </div>
                                </div>
    
                            </div>
                            <div class="col-sm-5 col-sm-offset-1">
                                <br>
                                <input type='submit' class='btn btn-finish btn-primary' name='Kaydet' value='Kaydet' />
                            </div>
                            <br>
                    </form>

                </div><!-- end row -->
              </div>  
            </div>
        </div>
        </div>


          <!-- Footer area-->
        {% block footer %}
                {% include "g_footer.html" %}
        {% endblock %}


        <script src={% static "assets/js/vendor/modernizr-2.6.2.min.js" %}></script>
        <script src={% static "assets/js//jquery-1.10.2.min.js" %}></script>
        <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
        <script src={% static "assets/js/bootstrap-select.min.js" %}></script>
        <script src={% static "assets/js/bootstrap-hover-dropdown.js" %}></script>
        <script src={% static "assets/js/easypiechart.min.js" %}></script>
        <script src={% static "assets/js/jquery.easypiechart.min.js" %}></script>
        <script src={% static "assets/js/owl.carousel.min.js" %}></script>
        <script src={% static "assets/js/wow.js" %}></script>
        <script src={% static "assets/js/icheck.min.js" %}></script>

        <script src={% static "assets/js/price-range.js" %}></script> 
        <script src={% static "assets/js/jquery.bootstrap.wizard.js" %} type="text/javascript"></script>
        <script src={% static "assets/js/jquery.validate.min.js" %}></script>
        <script src={% static "assets/js/wizard.js" %}></script>

        <script src={% static "assets/js/main.js" %}></script>


</body>
</html>